<h1>Thank you!</h1>

<h2>Thank you for your feedback. Here is the data we received. </h2>

<!-- presents data for our user using html -->
<h3>Name: {{ name }}</h3>
<h3>Email: {{ email }} </h3>
<h3>Comments: {{ comments }}</h3>
<h3>Current Student: {{ currentStudent }}</h3>

<!-- hyperlink -->
<p><a href="/">Back to homepage</a></p>